{% block sas_syncer_list %}
    <sw-page class="sas-syncer-list">
        {% block sas_syncer_header %}
            <template slot="smart-bar-header">
                <h1> Amsterdam Syncer Page </h1>
            </template>
            {% endblock %}
        {% block sas_syncer_actions %}
            <template #smart-bar-actions>
                <sw-button-process
                    class="sw-customer-create__save-action"
                    variant="primary"
                    @click="onSave">
                    {{ $tc('sas-syncer.general.syncerButton') }}
                </sw-button-process>
            </template>
        {% endblock %}
        {% block sas_syncer_content %}
            <template #content>
                
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
